<h2>My e-commerce</h2>
<ul>
    <li>
        <a href="/products">Products</a>
    </li>
    <li>
        <a href="/products-realtime">Realtime</a>
    </li>
    <li>
        <a href="/chat">Chat</a>
    </li>
</ul>